<ng-form #configForm="ngForm">

    <c8y-form-group>
        <label for="__CLASSNAME__Config">
            __CLASSNAME__Config Configuration
        </label>
    </c8y-form-group>

    <c8y-form-group>
        <label for="__CLASSNAME__-__CLASSNAME__Value">
            __CLASSNAME__ Value
        </label>
        <input type="text" name="__CLASSNAME__Config-__CLASSNAME__Value" id="__CLASSNAME__-__CLASSNAME__Value"
            class="form-control bar-chart-control" (change)="onConfigChanged($event)"
            [(ngModel)]="__CLASSNAME__Config.__CLASSNAME__Value" placeholder='__CLASSNAME__ Value' />
    </c8y-form-group>

</ng-form>