<ng-form #configForm="ngForm">

    <c8y-form-group>
        <label for="__CLASSNAME__Config">
            __CLASSNAME__Config Configuration
        </label>
    </c8y-form-group>

    <c8y-form-group>
        <label for="__CLASSNAME__-myValue">
            Simple Value
        </label>
        <input type="text" name="__CLASSNAME__-myValue" id="__CLASSNAME__-myValue" class="form-control bar-chart-control"
            (change)="onConfigChanged($event)" [(ngModel)]="config.myValue" placeholder='val' />
    </c8y-form-group>

</ng-form>