<div>
    <div class="configSection">
        <label for="__CLASSNAME__Config">
            __CLASSNAME__Config Configuration
        </label>

        <div class="row form-group">

            <div class="col-lg-12 col-layout">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text help-icon" id="basic-addon1">
                            Simple Value
                            <img src="{{CONST_HELP_IMAGE_FILE}}" alt="help tooltip"
                                 title="Enter a simple value to display on the widget.">

                        </span>
                    </div>
                    <input type="text" name="__CLASSNAME__-myValue" id="__CLASSNAME__-myValue"
                           class="form-control"
                           (change)="onConfigChanged()" [(ngModel)]="widgetHelper.getWidgetConfig().myValue"
                           placeholder='val' />
                </div>
            </div>
        </div>
    </div>
</div>